@model Helperland.Models.DBModels.ServiceRequest

@{
    Layout = null;
}


<link rel="stylesheet" href="~/css/service-provider/service-hisory-details.css" />


@{
    List<String> extraList = new List<string>();

    foreach(var item in Model.ServiceRequestExtras)
    {
        switch(item.ServiceExtraId)
        {
            case 1:
                extraList.Add("Inside cabinets");
                break;

            case 2:
                extraList.Add("Inside fridge");
                break;

            case 3:
                extraList.Add("Inside oven");
                break;

            case 4:
                extraList.Add("Laundry wash & dry");
                break;

            case 5:
                extraList.Add("Interior windows");
                break;

            default:
                break;


        }
    }

    String extraString = String.Join(", ", extraList);
    }

<div class="modal-header">
    <h4 class="modal-title" id="serviceDetailsModalLabel">Service Details</h4>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body row m-0">

    <div class="col-12 p-0 mb-1"><h4>@Model.ServiceStartDate.ToString("dd'/'MM'/'yyyy")  @Model.ServiceStartDate.ToString("HH:mm") - @Model.ServiceStartDate.AddMinutes((int)((Model.ServiceHours + Model.ExtraHours) * 60)).ToString("HH:mm")</h4></div>
    <div class="col-12 p-0 mb-1"><b>Duration :</b>  <span class="d-inline-block">@(Model.ServiceHours + Model.ExtraHours) Hrs</span></div>
    <hr class="my-2">
    <div class="col-12 p-0 mb-1"><b>Service Id :</b>  <span class="d-inline-block">@Model.ServiceRequestId</span></div>
    @if (extraList.Count > 0)
    {
        <div class="col-12 p-0 mb-1"><b>Extras :</b>  <span class="d-inline-block">@extraString</span></div>
    }
    <div class="col-12 p-0 mb-1"><b>Net Amount :</b> &nbsp;&nbsp; <span class="d-inline-block payment">€ @Model.TotalCost</span></div>
    <hr class="my-2">
    <div class="col-12 p-0 mb-1"><b>Customer Name :</b> <span class="d-inline-block">@Model.User.FirstName @Model.User.LastName</span></div>
    <div class="col-12 p-0 mb-1"><b>Service Address :</b> <span class="d-inline-block">@Model.ServiceRequestAddresses.First().AddressLine2, @Model.ServiceRequestAddresses.First().AddressLine1, @Model.ServiceRequestAddresses.First().City - @Model.ServiceRequestAddresses.First().PostalCode</span></div>
    <div class="col-12 p-0 mb-1"><b>Phone :</b> +91 <span class="d-inline-block">@Model.ServiceRequestAddresses.First().Mobile</span></div>
    <div class="col-12 p-0 mb-1"><b>Email :</b> <span class="d-inline-block">@Model.ServiceRequestAddresses.First().Email</span></div>
    <hr class="my-2">
    <div class="col-12 p-0 mb-2"><b>Comments :</b> <span class="d-inline-block">@Model.Comments</span></div>
    @if (Model.HasPets == true)
    {

        <div class="col-12 p-0 mb-1 d-flex align-items-center">
            <img class="m-0" src="~/images/included.png" alt="included">&nbsp;I have pets at home
        </div>
    }
    else
    {
        <div class="col-12 p-0 mb-1 d-flex align-items-center">
            <img class="m-0" src="~/images/not-included.png" alt="not-included">&nbsp;I don't have pets at home
        </div>
    }


</div>
@if (Model.Status != 4 && Model.Status != 2)
{
<div class="modal-footer action">
    @if (Model.Status == 5)
    {
        if (Model.ServiceStartDate.AddMinutes((int)((Model.ServiceHours + Model.ExtraHours) * 60)) < DateTime.Now)
        {
            <a asp-action="CompleteService" asp-controller="ServiceProvider" asp-route-serviceId="@Model.ServiceRequestId" asp-route-userId="@ViewBag.UserId"><button type="button" class="btn px-4 py-2 btn-action-primary d-flex align-items-center" data-bs-dismiss="modal">Complete</button></a>
        }
    }
    @if (Model.Status == 1)
    {
        <a asp-action="AcceptService" asp-controller="ServiceProvider" asp-route-serviceId="@Model.ServiceRequestId" asp-route-userId="@ViewBag.UserId"><button type="button" class="btn px-4 py-2 btn-action-primary d-flex align-items-center" data-bs-dismiss="modal">Accept</button></a>
    }
    <button type="button" class="btn px-4 py-2 btn-action-secondary d-flex align-items-center" data-bs-dismiss="modal">Cancel</button>
</div>
}
